nav{
    display: flex;
    background-color: green;
    border: 5px solid black;
    flex-direction: row;
    justify-content: flex-end;
}

.items{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.el1{
    display: flex;
}
.el2{
    display: flex;
}
.el3{
    display: flex;
}
.el4{
    display: flex;
}