.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 50px 300px 200px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "notp notp notp other"
    "nots1 nots2 nots3 other"
    ;
}

nav{
    grid-area: nav;
    background-color: green;
    border: 5px solid black;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". item1 item2 item3 item4"
    ;
}

.el1{
    grid-area: item1;
}
.el2{
    grid-area: item2;
}
.el3{
    grid-area: item3;
}
.el4{
    grid-area: item4;
}
.centralnews{
    grid-area: notp;
    background-color: pink;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.secnews1{
    grid-area: nots1;
    background-color: aquamarine;
    border: 5px solid black;
}
.secnews2{
    grid-area: nots2;
    background-color: brown;
    border: 5px solid black;
}
.secnews3{
    grid-area: nots3;
    background-color: grey;
    border: 5px solid black;
}
.othernews{
    grid-area: other;
    background-color: orangered;
    border: 5px solid black;
}